body {
    background: gray;
}

#searchBar {
    margin-top: 20px;
}

#videosList {
    background: #007bff;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    padding: 20px;
}

#searchBar form {
    width: 100%;
}

#searchBar button {
    float: right;
}

.videoTitle {
    height: 58px;
    margin-bottom: 15px;
    
}

.videoItem {
    cursor: pointer;
    transition: 0.2s;
    border-left: 1px solid gray;
    padding: 35px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.videoItem:hover {
    opacity: 0.8;
}